html, body      { width: 100%; margin:0; padding:0; background-color: #000; color: #fff; }
body            { font-size: 12px; font-family: Consolas, monaco, monospace; color: #fff; }
h1, h2, h3      { font-family: Helvetica, Arial, sans-serif; }
a               { text-decoration: none; color: #fcf; }
pre             { font-size: 12px; border: 2px dashed #222; border-radius: 4px; font-size: 12px; padding: 10px; }
ul li           { list-style-type: none; }
p               { padding: 10px; line-height: 18px; }
li code,
p code, td code { background-color: #222;  letter-spacing: 1px; padding: 0 4px; border-radius: 3px; }
pre             { line-height: 16px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
button          { margin: 5px; padding: 10px 25px; background-color: #111; border: 1px solid; border-radius: 3px; color: #fcf; cursor: pointer; text-shadow: 1px 1px 1px #888; }
fieldset        { border: none; }
header          { position: fixed; height:40px; width: 100%; background-color: #222; top: 0; transition: top 0.2s ease-in-out; width: 100%;}
header #title   { float: right; font: 20px/30px Georgia, serif; padding: 0 5% 0 0; letter-spacing: 8px;}

.xleft          { float: left; width: 48%; }
.xright         { float: right; width: 48%; }

article         { padding: 15px 0 15px; border-top: 4px dotted #fcf; }
article pre     { margin: 10px; }
article ul      { margin-left: 15px; padding: 2px 5px; }
article h3      { padding: 10px 0 0 10px;}

/* Menu */
.nav-up                       { top: -40px; }
ul.dropdown                   { line-height: 28px; position: relative; z-index: 1001; margin: 0; padding: 0;}
ul.dropdown li                { font-weight: bold; font-size: 16px; float: left; zoom: 1; }
ul.dropdown a:hover           { color: #222; }
ul.dropdown a:active          { color: #fcf; }
ul.dropdown li a              { display: block; padding: 4px 8px; border-right: 1px solid #333; color: #ccc; }
ul.dropdown li:last-child a   { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover          { background-color: #ccc; color: #222; position: relative; }
ul.dropdown li.hover a        { color: #222; }
/*menu level 2*/
ul.dropdown ul                { min-width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; padding: 0;}
ul.dropdown ul li             { font-weight: normal; font-size: 14px; background: #f6f6f6; color: #000; border-bottom: 1px solid #ccc; float: none; }
ul.dropdown ul li a           { border-right: none; width: 100%; display: inline-block; } /* inline-block For IE */
ul.dropdown ul li:last-child  { border-radius: 0 0 4px 4px; }
ul.dropdown ul li:first-child { border-radius: 0 4px 0 0; }
ul.dropdown ul li:only-child  { border-radius: 0 4px 4px 4px; }

/* Misc */
li.collapsed ul         { display: none; }
li.collapsed h3,
li.expanded h3          { text-decoration: underline; cursor: pointer; }
li.expanded ul          { display: block; text-decoration: underline; cursor: pointer; }

/* Header links */        
h1 a.headerlink,
h2 a.headerlink, 
h3 a.headerlink         { font-size: 1.5em; padding-right: 10px; visibility: hidden; text-decoration: none; }
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink { visibility: visible; }
h1:before,
h2:before,
h3:before               { display: block; content: " "; margin-top: -50px; height: 50px; }

a[href^='./']         { font-weight: bold; }
a[href^='#']:before   { content: "#"; }
a[href^='.']:after    { content: "⤢"; }
a[href^='http']:after { content: "↗"; }
a[download]:after     { content: "↓"; }

a.download-link,
a.local-link          { font-weight: bold; }

/* Demo Terminal */
#term-fixed             { position: fixed; margin-top: 35px; width: 100%; max-width: 35%; height: 350px; overflow: visible; }
#terminal { 
    position: relative;
    left: 50%; margin: 15px -25%; border-radius: 4px; border: 1px solid #fff; 
    -webkit-box-shadow: 1px 1px 15px 3px rgba(255, 255, 255, 0.6);-moz-box-shadow: 1px 1px 15px 3px rgba(255, 255, 255, 0.6);box-shadow: 1px 1px 15px 3px rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;
}
#terminal:hover         { 
    -webkit-box-shadow: 1px 1px 15px 3px rgba(255, 204, 255, 0.6); -moz-box-shadow: 1px 1px 15px 3px rgba(255, 204, 255, 0.6);box-shadow: 1px 1px 15px 3px rgba(255, 204, 255, 0.6);
    border: 1px solid #fcf;
}

/* Other */
h1#ptty                 { text-align: center; margin: 40px 0 0; font-size: 24px; font: italic bold 24px/30px Georgia, serif; letter-spacing: 15px; }
h3#description          { text-align: center; font: normal normal 18px/30px Georgia, serif; letter-spacing: 5px; }

#ascii-flair            { padding: 10px; }
#ascii-flair pre,
#ascii-flair p          { text-align: center; min-width: 190px; }

.phonetic               { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
.h-list li              { display: -moz-inline-stack; display: inline-block; vertical-align: top; margin: 5px; zoom: 1; *display: inline; }

ul.opt-list span           { color: #999; }
ul.opt-list                { border: 2px dashed #222; border-radius: 4px; margin: 10px; }
ul.opt-list li             { border-bottom: 1px solid #222; padding: 5px 0 5px; }
ul.opt-list li:last-child  { border-bottom: none; }
ul.opt-list ul li          { border-bottom: none; padding: 0; }

.github                  { position: fixed; bottom: 0; right: 0; margin: 0; height: 149px; width: 149px; z-index: 1; }
.github img              { position:absolute; left:0; opacity: 1; border: none; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
.github a:after          { content: none; }
.github img.top:hover    { opacity: 0; }
.github img.bottom       { opacity: 0; }
.github img.bottom:hover { opacity: 1; }

.modal-wrap      { display:none; z-index:40001; }
.modal-overlay   { position:fixed; z-index:40001; width:100%; height:100%; background-color:#000; opacity: 0.5; -ms-filter:"alpha(Opacity=50)";filter:alpha(opacity=50); }
.modal-v-offset  { position:fixed; top:30%; width:100%; z-index:40002; }
.modal-window    { width:405px; position:relative; margin:0 auto; background-color:#000; border-radius:4px; padding:10px; border:1px solid #ddd; }

@media (max-width : 1100px) {
    header #title   { display: none; }   
    #term-fixed     { position: relative; margin: 15px auto; max-width: 95%; }
    #terminal       { left: auto; margin: 15px auto; }
}
@media (max-width : 535px) {
    header,
    .github         { display: none; }
    h1#ptty         { margin: 0; }
}
